@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css または適切なCSSファイルに追加 */
.slide-in {
  @apply transform translate-x-full transition-transform duration-500 ease-in-out;
}

.slide-in-active {
  @apply translate-x-0;
}

.slide-out {
  @apply transform translate-x-0 transition-transform duration-500 ease-in-out;
}

.slide-out-active {
  @apply translate-x-full; /* スライドアウトの状態 */
}

body {
  height: 100vh;
  width: 100%;
}

/* sidebar.tsx */
.p-sidebar {
  width: 16rem !important; /* 幅を設定 */
}

/* tab.tsx */
.tab-Card {
  background: black;
}

.p-tabmenu-nav {
  display: flex;
  justify-content: space-around;
}

/*  */
.selected-row {
    background-color: #e0f7fa; /* 選択された行の背景色 */
}

/* speedDial.tsx */
.p-speeddial-action {
  width: 2.5rem; /* 丸のサイズを変更 */
  height: 2.5rem; /* 丸のサイズを変更 */
  border-radius: 50%; /* 丸くする */
  background-color: rgb(144, 195, 207); /* 丸の背景色を黒に設定 */
}

/* styles.css */
.p-datepicker-trigger {
  color: gray;
  font-size: 1.2rem; /* アイコンのサイズを変更 */
  margin-left: 0.5rem; /* アイコンと入力フィールドの間にマージンを追加 */
  margin-right: 0.5rem; /* アイコンと入力フィールドの間にマージンを追加 */
}

.p-datepicker-trigger:hover {
  color: #515253; /* ホバー時のアイコンの色を変更 */
}

/* styles.css */
.p-calendar {
  background-color: #f9f9f9; /* カレンダーの背景色 */
  border-radius: 8px; /* カレンダーの角を丸く */
}

.p-datepicker {
  font-size: 1rem; /* カレンダーのフォントサイズ */
}

.p-datepicker-header {
  background-color: #87add6; /* ヘッダーの背景色 */
  color: white; /* ヘッダーの文字色 */
}

.p-datepicker-today {

  color: #007bff; /* 今日の日付の文字色 */
}

.p-datepicker-today:hover {

}

/* 一時的にglobal.cssに記述　レイアウトを考案中 */
.bg-muted-green {
  background-color: #8de7a0; /* オリーブグリーン */
}

.bg-muted-blue {
  background-color: #a2d6f7; /* オリーブグリーン */
}

.bg-muted-yellow {
  background-color: #ffc46c; /* オリーブグリーン */
}

.bg-muted-gray {
  background-color: #c9c9c9;
}

.bg-muted-red {
  background-color: #f7a2a2; /* オリーブグリーン */
}

.text-muted-green {
  color: #8bdd9d;
}

.text-muted-red {
  color: #ec7e7e;
}

.text-muted-blue {
  color: #8abbf3;
}

.text-muted-green {
  color: #8bdd9d;
}

