/* styles.css */
/* .sidebar-container {
	position: relative;
}

.sidebar {
	width: 16rem;
	transition: transform 0.3s ease;
	transform: translateX(-100%);
}

.sidebar:hover {
	transform: translateX(0);
}

.icon-only {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	background-color: #f4f4f4;
	border-radius: 0.5rem;
} */